#header {
  width: 100%;
}

#nav_bar {
  padding: 0 15%;
  position: relative;
  display: flex;
  bottom: 0;
  left: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(var(--burgundy), 0.5);
}

#logo {
}

#logo a {
  color: rgba(var(--burgundy), 1);
  text-decoration: none;
  font-family: "Bebas Neue", serif;
  font-size: 2rem;
}

#main_nav {
  color: rgba(var(--burgundy), 1);
  text-decoration: none;
  font-family: "Bebas Neue", serif;
  font-size: x-large;
}

#main_nav ul {
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}

#main_nav li {
  padding: 0.5rem;
}

@media (max-width: 48rem) {
  #main_nav {
    display: none;
  }
}
